.chat-user-section {
  display: grid;
  grid-template-rows: 4vw 20vw;
  gap: 0;
  max-width: 20vw;
  border: 1px solid blue;
  border-color: blue blue transparent blue;
  border-radius: 1vw 1vw 0 0;
  margin-top: -24vw;

  .chats-nav {
    background-color: blue;
    color: #fff;
    font-size: 1.4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3vw 2vw;
    border-radius: 1vw 1vw 0 0;

    .chat-title {
      display: flex;
      gap: 1vw;
    }
  }

  .chats-nav-bottom-0 {
    margin-top: 20vw;
    padding: 2vw 2vw;
  }

  .main {
    max-height: 20vw;
    overflow: scroll;
    background-color: #fff;

    .list-section {
      .virtual-list-container {
        height: 100%;
      }
    }
  }
  .display-main {
    display: none;
  }
}

.style-on-hide-main {
  border-color: transparent;
}

.user-chatbox {
  display: flex;
  gap: 1.5vw;

  .chat-user-section {
    display: grid;
    grid-template-rows: 4vw 20vw;
    gap: 0;
    min-width: 15vw;
    border: 1px solid blue;
    border-color: blue blue transparent blue;
    border-radius: 1vw 1vw 0 0;
    margin-top: -24vw;

    .chats-nav {
      background-color: blue;
      color: #fff;
      font-size: 1.4vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.3vw 2vw;
      border-radius: 1vw 1vw 0 0;
      position: relative;

      .chat-title {
        width: 2vw;
        display: flex;
        gap: 1vw;

        img {
          border-radius: 50%;
          width: 2vw;
        }
      }

      .close-btn {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 1.5vw;
        cursor: pointer;
        color: aqua;
      }
    }

    .chats-nav-bottom-0 {
      margin-top: 20vw;
      padding: 2vw 2vw;
    }

    .main {
      max-height: 20vw;
      overflow: scroll;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .user-chat {
        display: grid;
        grid-template-columns: auto 3vw;
        height: 2.5vw;

        input {
            font-size: 1vw;
        }

        .go-btn {
          height: fit-content;
          text-align: center;
          align-self: end;
          background-color: blue;
          color: white;
          height: 2.5vw;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1vw;
        }
      }
    }
    .display-main {
      display: none;
    }
  }
  //to hide the border on chat container scrolled down
  .style-on-hide-main {
    border-color: transparent;
  }
}
